* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: black;
}
h1 {
    color: white;
}
h2 {
    font-size: 30px;
    color: red;
}

li {
    color: white;
    list-style: none;
    font-size: 30px;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 150px;
}
.head {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pers {
    padding: 40px;
}
ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline: 600px;
}
.know-more {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 200px;
    font-size: 25px;
}